html {
    /* ==================
            color
    ==================== */
    --color-main: #6E38F7; /* main color */
    --color-main-font: #303133;
    --color-general-font: #606266;
    --color-secondary-font: #909399;
    --color-placeholder-font: #C0C4CC;
    --color-first-border: #DCDFE6;
    --color-secondary-border: #E4E7ED;
    --color-Tertiary-border: #EBEEF5;
    --color-Quad-border: #F2F6FC;

    
    /* ==================
            font
    ==================== */
    --weight-mini: 500;   /* font-weight */
    --weight-lt: 600;
    --size-mini: 0.8em;   /* font-size */
    --size-lt: 1.1em;
    --size-title: 1.2em;
    --size-big: 1.4em;
    --font-family-main:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}