# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: OAP-E2E

on:
  pull_request:
  schedule:
    - cron: '0 18 * * *'

env:
  SW_AGENT_JDK_VERSION: 8
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 5

concurrency:
  group: e2e-storages-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  StoragePlugins:
    if: (github.event_name == 'schedule' && github.repository == 'apache/skywalking-banyandb') || (github.event_name != 'schedule')
    name: Storage E2E
    runs-on: ubuntu-latest
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        test:
          # - name: BanyanDB
          #   config: test/e2e-v2/cases/storage/banyandb/e2e.yaml
          # - name: Trace Profiling BanyanDB
          #   config: test/e2e-v2/cases/profiling/trace/banyandb/e2e.yaml
          # - name: Event BanyanDB
          #   config: test/e2e-v2/cases/event/banyandb/e2e.yaml
          # - name: BanyanDB Cluster Mode
          #   config: test/e2e-v2/cases/cluster/e2e.yaml
          - name: Lifecycle
            config: test/e2e-v2/cases/lifecycle/e2e.yaml
    env:
      TAG: ${{ github.sha }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-tags: true
      - uses: actions/setup-node@v3
        with:
          node-version: 20.12
          cache: 'npm'
          cache-dependency-path: ui/package-lock.json
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Update dependencies 
        if: steps.cache-go.outputs.cache-hit != 'true'
        run: GOPROXY=https://proxy.golang.org go mod download
      - name: Generate codes
        run: make generate
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build binary
        run: make release
      - name: Build docker image
        run: |
          make -C test/docker build | make -C test/docker build
          docker image ls
      - name: Generate data for lifecycle
        if: ${{ matrix.test.name == 'Lifecycle' }}
        run: |
          bash test/e2e-v2/cases/lifecycle/data-generator/gen.sh 
      - name: ${{ matrix.test.name }}
        uses: apache/skywalking-infra-e2e@7e4b5b68716fdb7b79b21fa8908f9db497e1b115
        with:
          e2e-file: $GITHUB_WORKSPACE/${{ matrix.test.config }}
      - name: Fix directory permissions
        if: ${{ (failure() && matrix.test.name == 'Lifecycle') }}
        run: sudo chmod -R 777 test/e2e-v2/cases/lifecycle/data-generator/tmp
      - if: ${{ failure() }}
        run: |
          df -h
          du -sh .
          docker images
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        name: Upload Logs
        with:
          name: test-logs-${{ matrix.test.name }}
          path: "${{ env.SW_INFRA_E2E_LOG_DIR }}"
      - uses: actions/upload-artifact@v4
        if: ${{ (failure() && matrix.test.name == 'Lifecycle') }}
        name: Upload generated data
        with:
          name: lifecycle-data
          path: "test/e2e-v2/cases/lifecycle/data-generator/tmp"

  Storage:
    if: (github.event_name == 'schedule' && github.repository == 'apache/skywalking-banyandb') || (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    timeout-minutes: 90
    needs: [StoragePlugins]
    steps:
      - name: To pass or not pass
        run: echo "Just to make the GitHub merge button green"
